@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.9949229691876751) 0%, rgba(255,255,255,0.9949229691876751) 20%, rgba(2,27,169,0.9949229691876751) 41%, rgba(2,0,136,1) 48%, rgba(3,11,113,1) 51%, rgba(0,0,0,1) 83%, rgba(0,0,0,1) 100%);
  }
  
  body *{
  margin-left: 1vw;
  margin-right: 1vw;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
